<footer style="background-color: #343a40;" class="page-footer font-small inverse pt-0">

    <!--Footer Links-->
    <div class="container">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-12 py-5">

                <div style="text-align: center;" class="mb-5 flex-center">

                    <!--Facebook-->
                    <a class="fb-ic">
                        <i style="color: #3b5998;" class="fab fa-facebook-f white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i style="color: #1da1f2;" class="fab fa-twitter white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i style="color: #dd4b39;" class="fab fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i style="color: #0077b5;" class="fab fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i style="color: #c13584;" class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div style="color: black;" class="footer-copyright py-3 text-center">
        <span style="color: white;">© 2018 Copyright: Sokhi Steels</span>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->