<% include ./partials/header %>
<div class="container top-margin" >
			<div class="card">
			  <div class="card-body">
			    <h2  style="text-align: center;"><i style="color: red;" class="fas fa-cart-arrow-down"></i> &nbsp WELLCOME TO SALES SECTION</h2>
			  </div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-3 mt-4">
					<div onclick="window.location.href='/work-page/inventory-order/import'" class="card">
					  <div class="card-body card-1">
					    <h5 style="text-align: center; text-transform: uppercase;" class="card-title">IMPORT</h5>
					    <p style="text-align: center; cursor: pointer;" class="card-text mt-3">
					    	<i style="font-size: 8rem; color: #07575b;" class="fas fa-download"></i>
					    </p>
					  </div>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 mt-4">
					<div onclick="window.location.href='/work-page/inventory-order/export'" class="card">
					  <div class="card-body card-1">
					    <h5 style="text-align: center; text-transform: uppercase;" class="card-title">EXPORT</h5>
					    <p style="text-align: center; cursor: pointer;" class="card-text mt-3">
					    	<i style="font-size: 8rem; color: #07575b;" class="fas fa-upload"></i>
					    </p>
					  </div>
					</div>
				</div>

			</div>
		</div>
<% include ./partials/header %>